.section {
  background: #b2efb8;
  width: 100%;
}

.info {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.info_item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info_item_icon {
  font-size: 2rem;
  text-align: center;
  margin-right: 2rem;
}

.info_item_text {
  /* align-items: center; */
  /* padding: 2rem auto; */
  padding: 1rem;
}

.info_item_text p {
  text-align: center;
}

@media (max-width: 600px) {
  .info {
    flex-direction: column;
  }
  .info_item_text {
    padding: 0;
  }
}
