.section {
  background: #b2efb8;
  width: 100%;
  padding: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info_item {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.info_item_icon {
  font-size: 3rem;
  text-align: center;
}

.info_item_text {
  align-items: center;
  padding: 0 20%;
}

.info_item_text p {
  text-align: center;
}
