.card_card {
  max-width: 280px !important;
  border: 1px solid #aeaeae !important;
}

.pic {
  width: 150px !important;
  height: 150px !important;
  overflow: hidden !important;
  border-radius: 100% !important;
  margin: 20px auto 20px !important;
  border-left: 3px solid #ddd !important;
  border-right: 3px solid #ddd !important;
  border-top: 3px solid orangered !important;
  border-bottom: 3px solid orangered !important;
  transform: rotate(-30deg) !important;
  transition: 0.5s !important;
}

.card_card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.1);
  border: 1px solid white !important;
}

.card_card:hover .card_title {
  color: orangered;
}

.card_card:hover .info__button {
  background-color: orangered !important;
  border-color: orangered !important;
}
.card_card:hover .card-Img {
  transform: rotate(0deg);
  transform: scale(1.1);
}

.card_title {
  text-align: center;
}

.card.text {
  font-size: 12px !important;
}

.info__button {
  display: block;
  text-decoration: none !important;
  text-align: center;
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  color: white !important;
}

.card_text {
  font-size: 12px !important;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  font-weight: bold;
  font-size: 1rem;
  background: orangered;
  color: white;
  border-radius: 2px;
}

.info__button_link {
  text-align: center;
  text-decoration: none;
  color: white;
}
.info__button_link:hover {
  color: white;
  text-decoration: none;
}

.info__button:hover {
  background: orangered !important;
  border-color: orangered !important;
  text-decoration: none;
}
