.programs_section {
  padding: 3rem 1rem 15rem;
}

.program__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card_body {
  background-color: honeydew;
}
.nav-tabs {
  background-color: lightgreen;
}
.nav-item:hover {
  background-color: orangered;
}
