.form-container {
  width: 40%;
  /* height: 100vh; */
  margin: 0 auto;
  border: 1px solid #47c15a;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #47c15a;
}
.brm_title {
  margin: 0 10%;
  color: white;
  text-align: center;
}
.form-bmi {
  padding: 1rem 1rem;
  border: 1px solid #47c15a;
  box-sizing: border-box;
  background-color: white;
}

.brm_label {
  padding-top: 1rem;
}

.brm_btn {
  color: white;
}
.brm_btn:hover {
  background-color: orangered;
  border-color: orangered;
}

.brm_btn_col {
  text-align: center;
}

.form-control_brm {
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .form-container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .form-container {
    width: 100%;
  }
}
