.homescreen {
  max-width: 100%;
  background: #47c15a;
  padding: 2rem 1rem 15rem;
}

.homescreen__title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-left: 8px;
}
.programs_row {
  padding: 1rem;
}

.homescreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}
